<aside class="sidebar">
    <div class="user-info">
        <div class="avatar">
            {% if user.profile.avatar_url %}
            <img src="{{ user.profile.avatar_url }}" alt="Avatar">
            {% else %}
            <div class="logo"><i class="fa-solid fa-graduation-cap"></i></div>
            {% endif %}
        </div>
        <div class="user-details">
            <div class="brand-title"><a href="/chatbot/" class="brand-link">Turing IA</a></div>
            <h3>{{ user.get_full_name|default:user.email }}</h3>
            {% if user.role == 'Student' and user.university_code %}
            <p>Código de estudiante:</p>
            <p class="student-id">{{ user.university_code }}</p>
            {% elif user.role == 'Teacher' %}
            <p>Profesor</p>
            {% endif %}
        </div>
    </div>

    <hr class="sidebar-divider">

    <ul class="nav-links">
        <li><a class="{% if active_page == 'my_groups' %}active{% endif %}"
                href="{% url 'courses:my_student_groups' %}">
                <i class="fa-solid fa-layer-group"></i> Mis Materias
            </a></li>
    </ul>

    <hr class="sidebar-divider">
</aside>