<div class="topbar">
    <div class="topbar-inner">
        <form id="logout-form" method="post" action="{% url 'logout' %}" class="logout-form">
            {% csrf_token %}
        </form>
        <div class="topbar-user">
            <button type="button" class="btn btn-ghost small js-logout">
                <i class="fa-solid fa-right-from-bracket"></i> Salir
            </button>
            <i class="fa-regular fa-bell bell"></i>
            <span>{{ user.name }}</span>
            <div class="avatar-circle">
                {% if user.profile.avatar_url %}
                <img src="{{ user.profile.avatar_url }}" alt="Avatar">
                {% else %}
                <i class="fa-regular fa-user"></i>
                {% endif %}
            </div>
        </div>
    </div>
</div>
